@charset "UTF-8";
body {
  font-family: "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;
}

body::selection {
  color: #fff;
  background-color: #e83100;
}

body > header {
  background-color: #282828;
  width: 100%;
  height: 64.6px;
  position: relative;
}

body > header .nav {
  height: 100%;
}

body > header .nav > #logo {
  float: left;
  margin-top: 8px;
  width: 140px;
  height: 50px;
}

body > header .nav > #logo img {
  height: 100%;
}

body > header .nav > ul {
  float: left;
  margin-left: 140px;
}

body > header .nav > ul > li {
  height: 64.6px;
  line-height: 64.6px;
  padding: 0 15px;
  float: left;
}

body > header .nav > ul > li:hover > a {
  color: #aaa;
}

body > header .nav > ul > li:hover > .sec-nav {
  height: 240px;
}

body > header .nav > ul > li > a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
}

body > header .nav > ul > li > .sec-nav {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 64.6px;
  background-color: rgba(49, 49, 49, 0.95);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

body > header .nav > ul > li > .sec-nav > .wrapper {
  position: relative;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a {
  position: absolute;
  z-index: 21;
  font-weight: 600;
  top: 0;
  width: 33px;
  line-height: 240px;
  height: 240px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a > i {
  font-size: 32px;
  color: #aaa;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a:first-child {
  left: 0;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a:last-child {
  right: 0;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li {
  width: 200px;
  float: left;
  margin-top: 50px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:hover > a > span,
body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:hover > a > i {
  color: #aaa;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > img {
  width: 120px;
  height: 120px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > i {
  font-size: 55px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #fff;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > span {
  text-align: center;
  color: white;
  font-size: 13px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:first-of-type > a > i > .logo1 {
  width: 96px;
  height: 20px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:first-of-type > a > i > .logo2 {
  width: 75px;
  height: 75px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:last-of-type > a > i > em {
  display: block;
  margin: 35px auto;
  background-color: #282828;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  font-size: 33px;
}

body > header .nav > ul > .search {
  margin-left: 65px;
  position: relative;
}

body > header .nav > ul > .search > #search {
  border-radius: 15px;
  border: 0;
  background-color: #333333;
  color: #858585;
  outline: 0;
  width: 128px;
  height: 30px;
  text-indent: 15px;
}

body > header .nav > ul > .search > a {
  position: absolute;
  color: #999999;
  right: 25px;
  top: 2px;
  font-size: 16px;
}

body > header .nav > ul > .personage,
body > header .nav > ul > .shopCart {
  position: relative;
  width: 50px;
  padding: 0;
  text-align: center;
}

body > header .nav > ul > .personage:hover,
body > header .nav > ul > .shopCart:hover {
  background-color: #f35c49;
}

body > header .nav > ul > .personage > a > i,
body > header .nav > ul > .shopCart > a > i {
  font-size: 20px;
  color: white;
}

body > header .nav > ul > .personage:hover > .reg-login {
  display: block;
}

body > header .nav > ul > .personage > .reg-login {
  display: none;
  position: absolute;
  z-index: 21;
  width: 260px;
  height: 475px;
  background-color: #282828;
  top: 80px;
  right: 0;
}

body > header .nav > ul > .personage > .reg-login > span {
  position: absolute;
  top: -4.5px;
  right: 20px;
  border: 5px solid transparent;
  border-left-color: #282828;
  border-top-color: #282828;
  transform: rotate(45deg);
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) {
  margin: 0 11px;
  width: 238px;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #555;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a {
  display: block;
  margin-left: 10px;
  color: white;
  float: left;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a:hover,
body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a:hover > i {
  color: #999;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a > i {
  display: inline-block;
  margin-right: 10px;
  color: #ccc;
  font-size: 15px;
}

body > header .nav > ul > .personage > .reg-login > ul > li:last-child {
  border: 0;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child {
  padding: 0;
  height: 70px;
  margin: 30px 0 10px;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > a {
  display: block;
  line-height: 36px;
  margin: 0 auto 10px;
  width: 125px;
  color: white;
  height: 36px;
  font-size: 14px;
  border-radius: 18px;
  background-color: #f35c49;
  cursor: pointer;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p > span {
  color: #949494;
  font-size: 14px;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p > a {
  color: #f35d49;
  font-size: 13px;
}

body > .banner {
  width: 100%;
  height: 520px;
  position: relative;
}

body > .banner > ul {
  width: 240px;
  height: 100%;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
  z-index: 10;
  left: 160px;
  padding-top: 12px;
  box-sizing: border-box;
}

body > .banner > ul > li {
  width: 240px;
  height: 62px;
}

body > .banner > ul > li:hover > a {
  color: #e8340e;
  background-color: #fff;
}

body > .banner > ul > li > a {
  display: block;
  width: 240px;
  height: 62px;
  color: #333;
  font-size: 15px;
  font-weight: 300;
  line-height: 62px;
  text-indent: 40px;
}

body > .banner > #slider {
  height: 100%;
  width: 100%;
}

body > .banner > #slider > div > img {
  position: absolute;
  left: -200px;
  width: 1920px;
  z-index: 3;
  opacity: 0;
  opacity: 1;
}

body > .banner > #slider > .prev {
  position: absolute;
  background: url("../img/icon-slides.png") -83px 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 41px;
  height: 69px;
  left: 415px;
  top: 225px;
  cursor: pointer;
  z-index: 10;
  border-radius: 15px;
  transition: background-position 0.5s;
}

body > .banner > #slider > .prev:hover {
  background-position: 0 0;
}

body > .banner > #slider > .next {
  position: absolute;
  background: url("../img/icon-slides.png") -124px 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-position 0.5s;
  border-radius: 15px;
  width: 41px;
  height: 69px;
  right: 175px;
  top: 225px;
  z-index: 10;
  cursor: pointer;
}

body > .banner > #slider > .next:hover {
  background-position: -41px 0;
}

body > .banner > #slider > ul {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  transform: translateX(-20px);
  height: 10px;
}

body > .banner > #slider > ul .active {
  border: 2px solid #e8340e;
  background-color: transparent;
  width: 6px;
  height: 6px;
  margin-top: 0;
}

body > .banner > #slider > ul > li {
  float: left;
  cursor: pointer;
  width: 4px;
  height: 4px;
  background-color: #aaa;
  border: 2px solid transparent;
  margin: 1px 5px;
  border-radius: 50%;
}

body > .newrelease {
  margin: 10px 0 0;
}

body > .newrelease > .wrapper > .list {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

body > .newrelease > .wrapper > .list > li:first-child > ul {
  width: 240px;
  height: 180px;
  display: flex;
  flex-flow: wrap;
}

body > .newrelease > .wrapper > .list > li:first-child > ul > li > a {
  background-color: #f4f3ef;
  width: 80px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #555;
  border-left: 1px solid #ebe5d7;
  border-bottom: 1px solid #ebe5d7;
}

body > .newrelease > .wrapper > .list > li:first-child > ul > li > a:hover {
  color: white;
  background-color: #F35C49;
}

body > .newrelease > .wrapper > .list > li:first-child > ul > li > a > i {
  font-size: 32px;
}

body > .newrelease > .wrapper > .list > li:first-child > ul > li > a > span {
  font-size: 12px;
  margin-top: 6px;
}

body > .newrelease > .wrapper > .list > li:not(:first-child) {
  background-color: #f4f3ef;
}

body > .newrelease > .wrapper > .list > li:not(:first-child) > a {
  display: block;
  width: 310px;
  height: 180px;
  overflow: hidden;
}

body > .newrelease > .wrapper > .list > li:not(:first-child) > a:hover > img {
  transform: scale(1.1);
}

body > .newrelease > .wrapper > .list > li:not(:first-child) > a > img {
  width: 100%;
  transition: transform 1s;
}

body > .rexiao,
body > .jingxuan {
  margin: 30px 0 50px;
}

body > .rexiao > .wrapper,
body > .jingxuan > .wrapper {
  position: relative;
}

body > .rexiao > .wrapper > h2,
body > .jingxuan > .wrapper > h2 {
  font-size: 24px;
  color: #7e7e7e;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1em;
}

body > .rexiao > .wrapper > a,
body > .jingxuan > .wrapper > a {
  position: absolute;
  right: 0;
  top: 5px;
  color: #e8340e;
  font-size: 12px;
}

body > .rexiao > .wrapper > a > i,
body > .jingxuan > .wrapper > a > i {
  font-size: 16px;
}

body > .rexiao > .wrapper > ul,
body > .jingxuan > .wrapper > ul {
  width: 100%;
  height: 915px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: space-between;
}

body > .rexiao > .wrapper > ul > li:first-child,
body > .jingxuan > .wrapper > ul > li:first-child {
  width: 593px;
  height: 450px;
}

body > .rexiao > .wrapper > ul > li:first-child > a > img,
body > .jingxuan > .wrapper > ul > li:first-child > a > img {
  width: 593px;
  height: 450px;
}

body > .rexiao > .wrapper > ul > li:not(:first-child),
body > .jingxuan > .wrapper > ul > li:not(:first-child) {
  width: 290px;
  height: 450px;
  background-color: #f4f3ef;
  position: relative;
}

body > .rexiao > .wrapper > ul > li:not(:first-child):hover > a > div > p,
body > .jingxuan > .wrapper > ul > li:not(:first-child):hover > a > div > p {
  display: none;
}

body > .rexiao > .wrapper > ul > li:not(:first-child):hover > a > img,
body > .jingxuan > .wrapper > ul > li:not(:first-child):hover > a > img {
  margin-top: 49px;
}

body > .rexiao > .wrapper > ul > li:not(:first-child):hover > .btn,
body > .jingxuan > .wrapper > ul > li:not(:first-child):hover > .btn {
  display: flex;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > img,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > img {
  margin-top: 54px;
  width: 290px;
  transition: margin-top 0.2s;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div {
  width: 290px;
  text-align: center;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > span,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > span {
  display: block;
  color: #222;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > em,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > em {
  display: block;
  color: #FF4D4D;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 300;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > p,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > p {
  position: absolute;
  bottom: 60px;
  width: 290px;
  color: #f35c49;
  line-height: 32px;
  font-family: 'Microsoft Yahei', 微软雅黑, Arial, Helvetica, sans-serif;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > p > sup,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > p > sup {
  font-size: 14px;
  font-weight: 200;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > p > strong,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > p > strong {
  font-size: 16px;
  font-weight: bold;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > p > span,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > p > span {
  color: #aaa;
  font-weight: 200;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > a > div > p > del,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > a > div > p > del {
  color: #aaa;
  font-size: 14px;
  font-weight: 200;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn {
  position: absolute;
  width: 290px;
  height: 34px;
  bottom: 32px;
  left: 0;
  display: flex;
  justify-content: center;
  display: none;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn > a,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn > a {
  display: inline-block;
  width: 116px;
  height: 34px;
  border-radius: 17px;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
  margin: 0 6px;
  font-weight: 300;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn > a:first-child,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn > a:first-child {
  background-color: #fff;
  color: #ec402a;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn > a:first-child:hover,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn > a:first-child:hover {
  background-color: #fcfcfc;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn > a:last-child,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn > a:last-child {
  background-color: #f35c49;
  color: #fff;
}

body > .rexiao > .wrapper > ul > li:not(:first-child) > .btn > a:last-child:hover,
body > .jingxuan > .wrapper > ul > li:not(:first-child) > .btn > a:last-child:hover {
  background-color: #ec402a;
}

body > .rp-sp-fw {
  background-color: #F4F3EF;
  width: 100%;
  height: 1075px;
}

body > .rp-sp-fw > .wrapper {
  overflow: hidden;
}

body > .rp-sp-fw > .wrapper > .reping {
  position: relative;
}

body > .rp-sp-fw > .wrapper > .reping > h2 {
  font-size: 24px;
  color: #7e7e7e;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1em;
}

body > .rp-sp-fw > .wrapper > .reping > a {
  position: absolute;
  right: 0;
  top: 5px;
  height: 24px;
  width: 70px;
  color: #e8340e;
  font-size: 12px;
}

body > .rp-sp-fw > .wrapper > .reping > a > i {
  font-size: 16px;
}

body > .rp-sp-fw > .wrapper > .reping > ul {
  display: flex;
  justify-content: space-between;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li {
  float: left;
  width: 290px;
  height: 334px;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li:hover > a {
  transform: scale(1.05);
}

body > .rp-sp-fw > .wrapper > .reping > ul > li > a {
  display: block;
  transition: transform 0.7s;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li > a > img {
  width: 290px;
  height: 200px;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li > a > div {
  padding: 0 30px;
  height: 134px;
  background-color: #fff;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li > a > div > span {
  padding-top: 20px;
  display: block;
  color: black;
  white-space: nowrap;
  width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  margin-bottom: 12px;
}

body > .rp-sp-fw > .wrapper > .reping > ul > li > a > div > p {
  line-height: 24px;
  color: #999;
  word-break: break-all;
  font-weight: normal;
  font-size: 15px;
}

body > .rp-sp-fw > .wrapper > .shipin {
  position: relative;
}

body > .rp-sp-fw > .wrapper > .shipin > h2 {
  font-size: 24px;
  color: #7e7e7e;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1em;
}

body > .rp-sp-fw > .wrapper > .shipin > a {
  position: absolute;
  right: 0;
  top: 5px;
  height: 24px;
  width: 70px;
  color: #e8340e;
  font-size: 12px;
}

body > .rp-sp-fw > .wrapper > .shipin > a > i {
  font-size: 16px;
}

body > .rp-sp-fw > .wrapper > .shipin > ul {
  display: flex;
  justify-content: space-between;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li {
  width: 290px;
  height: 334px;
  transition: transform 0.7s;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li:hover {
  transform: scale(1.05);
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > a {
  display: block;
  position: relative;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > a:hover > div {
  background-color: rgba(235, 30, 30, 0.6);
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > a > img {
  width: 290px;
  height: 200px;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > a > div {
  position: absolute;
  background-color: rgba(210, 210, 210, 0.6);
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  transform: translate(-26px, -26px);
  border-radius: 50%;
  transition: background-color 0.3s;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > a > div > span {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-width: 15px;
  border-left-color: #fff;
  top: 16px;
  left: 22px;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > div {
  padding: 0 30px;
  height: 134px;
  background-color: #fff;
  text-align: center;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > div > span {
  padding-top: 40px;
  display: block;
  color: black;
  white-space: nowrap;
  width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  margin-bottom: 12px;
}

body > .rp-sp-fw > .wrapper > .shipin > ul > li > div > p {
  line-height: 24px;
  color: #999;
  word-break: break-all;
  font-weight: normal;
  font-size: 15px;
}

body > .rp-sp-fw > .wrapper > .fuwu {
  position: relative;
}

body > .rp-sp-fw > .wrapper > .fuwu > h2 {
  font-size: 24px;
  color: #7e7e7e;
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1em;
}

body > .rp-sp-fw > .wrapper > .fuwu > a {
  position: absolute;
  right: 0;
  top: 5px;
  height: 24px;
  width: 70px;
  color: #e8340e;
  font-size: 12px;
}

body > .rp-sp-fw > .wrapper > .fuwu > a > i {
  font-size: 16px;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul {
  display: flex;
  justify-content: space-between;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li {
  width: 593px;
  height: 172px;
  background-color: #fff;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li > a {
  display: block;
  width: 593px;
  height: 172px;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li > a > i {
  float: left;
  font-size: 76px;
  color: #666;
  margin: 48px 20px 48px 60px;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li > a > div {
  float: left;
  width: 360px;
  margin-left: 20px;
  margin-top: 58px;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li > a > div > span {
  display: block;
  font-size: 18px;
  color: black;
  line-height: 1.2;
  margin-bottom: 5px;
}

body > .rp-sp-fw > .wrapper > .fuwu > ul > li > a > div > p {
  color: #999;
  font-size: 15px;
  line-height: 22px;
}

body > .about {
  width: 100%;
  height: 380px;
  background-color: #EFEEEB;
  padding: 60px 0 80px;
  box-sizing: border-box;
}

body > .about > .wrapper {
  width: 1170px;
}

body > .about > .wrapper > ul {
  display: flex;
  justify-content: space-around;
}

body > .about > .wrapper > ul > li {
  width: 195px;
}

body > .about > .wrapper > ul > li > h3 {
  margin: 15px 0 10px;
  font-size: 18px;
  font-weight: normal;
  color: #666;
}

body > .about > .wrapper > ul > li > ul > li {
  color: #606463;
  font-size: 12px;
  line-height: 22px;
}

body > .about > .wrapper > ul > li > ul > li > a {
  color: rgba(96, 100, 99, 0.7);
}

body > .about > .wrapper > ul > li > ul > li > a:hover {
  color: #e95f46;
}

body > .fix {
  position: fixed;
  right: 15px;
  bottom: 50px;
}

body > .fix > ul {
  width: 50px;
  height: 240px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

body > .fix > ul > li > a {
  color: #999;
}

body > .fix > ul > li > a:hover {
  color: #e95f46;
}

body > .fix > ul > li > a > i {
  font-size: 50px;
}

body > .fix > ul > li:nth-child(1):hover > div,
body > .fix > ul > li:nth-child(2):hover > div,
body > .fix > ul > li:nth-child(3):hover > div {
  display: block;
}

body > .fix > ul > li:first-child > div {
  position: absolute;
  width: 120px;
  height: 40px;
  left: -135px;
  top: 5px;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:first-child > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:first-child > div > span {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(102, 102, 102, 0.8);
}

body > .fix > ul > li:nth-child(2) > div {
  position: absolute;
  width: 120px;
  height: 147px;
  left: -135px;
  top: 5px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:nth-child(2) > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:nth-child(2) > div > img {
  width: 118px;
  height: 118px;
}

body > .fix > ul > li:nth-child(2) > div > span {
  font-size: 12px;
  color: #a3a3a3;
  line-height: 0;
}

body > .fix > ul > li:nth-child(3) > div {
  position: absolute;
  width: 120px;
  height: 40px;
  left: -135px;
  top: 130px;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:nth-child(3) > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:nth-child(3) > div > span {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(102, 102, 102, 0.8);
}

body > footer > .wrapper {
  height: 210px;
  margin-bottom: 20px;
  text-align: center;
}

body > footer > .wrapper > a {
  display: block;
  margin-top: 10px;
}

body > footer > .wrapper > a > img {
  width: 105px;
}

body > footer > .wrapper > .w {
  height: 48px;
}

body > footer > .wrapper > .w > a {
  display: inline-block;
  margin-top: 8px;
  color: #999;
}

body > footer > .wrapper > .w > a:first-child:hover {
  color: #e5162c;
}

body > footer > .wrapper > .w > a:last-child:hover {
  color: #2ec000;
}

body > footer > .wrapper > .w > a > i {
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
}

body > footer > .wrapper > .w > a:first-child {
  margin-right: 10px;
}

body > footer > .wrapper > div {
  margin-top: 10px;
}

body > footer > .wrapper > div > span {
  font-size: 10px;
}

body > footer > .wrapper > div > em {
  font-weight: 100;
}

body > footer > .wrapper > div > a {
  font-size: 12px;
  color: #555555;
}

body > footer > .wrapper > div > a:hover {
  color: #951b1b;
}

body > footer > .wrapper > div > strong {
  display: inline-block;
  width: 85px;
  height: 18px;
  color: #888;
  background-color: #E9E8E6;
  border-radius: 9px;
  font-size: 11px;
  line-height: 18px;
  text-indent: 15px;
  background-image: url(../img/spritesheet.png);
  background-position: 7px -689px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 10px;
}

body > footer > .wrapper > div > strong:hover {
  color: #fff;
  background-color: #B6B6B6;
}

body > footer > .wrapper > .info {
  margin-bottom: 8px;
}

body > footer > .wrapper > .info > a {
  line-height: 14px;
  color: #999;
  font-size: 10px;
}

body > footer > .wrapper > .info > span {
  font-size: 10px;
  line-height: 14px;
  color: #999;
}

body > footer > .wrapper > img {
  height: 30px;
}
