@charset "utf-8";

@mixin border-radius($d) {
    border-radius: $d;
}

@mixin selection {
    &::selection {
        color: #fff;
        background-color: #e83100;
    }
}

body {
    @include selection;
    font-family: "Microsoft Yahei",
        "微软雅黑",
        Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    font-weight: 300;

    >header {
        background-color: rgb(40, 40, 40);
        width: 100%;
        height: 64.6px;
        position: relative;

        .nav {
            height: 100%;

            >#logo {
                float: left;
                margin-top: 8px;
                width: 140px;
                height: 50px;

                img {
                    height: 100%;
                }
            }

            >ul {
                float: left;
                margin-left: 140px;

                >li {
                    height: 64.6px;
                    line-height: 64.6px;
                    padding: 0 15px;
                    float: left;

                    &:hover>a {
                        color: #aaa;
                    }

                    &:hover>.sec-nav {
                        height: 240px;
                    }

                    >a {
                        color: #fff;
                        letter-spacing: 1px;
                        font-size: 13px;
                    }

                    >.sec-nav {
                        position: absolute;
                        z-index: 20;
                        left: 0;
                        top: 64.6px;
                        background-color: rgba(49, 49, 49, 0.95);
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        transition: height 0.4s;

                        >.wrapper {
                            position: relative;

                            >a {
                                position: absolute;
                                z-index: 21;
                                font-weight: 600;
                                top: 0;
                                width: 33px;
                                line-height: 240px;
                                height: 240px;

                                >i {
                                    font-size: 32px;
                                    color: #aaa;
                                }
                            }

                            >a:first-child {
                                left: 0;
                            }

                            >a:last-child {
                                right: 0;
                            }

                            >ul {
                                >li {
                                    width: 200px;
                                    float: left;
                                    margin-top: 50px;

                                    &:hover>a>span,
                                    &:hover>a>i {
                                        color: #aaa;
                                    }


                                    >a {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;

                                        >img {
                                            width: 120px;
                                            height: 120px;
                                        }

                                        >i {
                                            font-size: 55px;
                                            width: 120px;
                                            height: 120px;
                                            text-align: center;
                                            line-height: 120px;
                                            color: #fff;
                                        }

                                        >span {
                                            text-align: center;
                                            color: white;
                                            font-size: 13px;
                                        }
                                    }
                                }

                                >li:first-of-type {
                                    >a>i>.logo1 {
                                        width: 96px;
                                        height: 20px;
                                    }

                                    >a>i>.logo2 {
                                        width: 75px;
                                        height: 75px;
                                    }
                                }

                                >li:last-of-type {
                                    >a>i {
                                        >em {
                                            display: block;
                                            margin: 35px auto;
                                            background-color: rgb(40, 40, 40);
                                            @include border-radius(50%);
                                            width: 50px;
                                            line-height: 50px;
                                            height: 50px;
                                            font-size: 33px;
                                        }
                                    }
                                }

                            }
                        }
                    }

                }

                >.search {
                    margin-left: 65px;
                    position: relative;

                    >#search {
                        @include border-radius(15px);
                        border: 0;
                        background-color: rgb(51, 51, 51);
                        color: rgb(133, 133, 133);
                        outline: 0;
                        width: 128px;
                        height: 30px;
                        text-indent: 15px;
                    }

                    >a {
                        position: absolute;
                        color: rgb(153, 153, 153);
                        right: 25px;
                        top: 2px;
                        font-size: 16px;
                    }
                }

                >.personage,
                >.shopCart {
                    position: relative;
                    width: 50px;
                    padding: 0;
                    text-align: center;

                    &:hover {
                        background-color: #f35c49;
                    }

                    >a>i {
                        font-size: 20px;
                        color: white;
                    }
                }

                >.personage {

                    &:hover>.reg-login {
                        display: block;
                    }

                    >.reg-login {
                        display: none;
                        position: absolute;
                        z-index: 21;
                        width: 260px;
                        // height: 538px;
                        // overflow: hidden;
                        background-color: #282828;
                        top: 70px;
                        right: 0;


                        >span {
                            position: absolute;
                            top: -4.5px;
                            right: 20px;
                            border: 5px solid transparent;
                            border-left-color: #282828;
                            border-top-color: #282828;
                            transform: rotate(45deg);
                        }

                        >ul {
                            >li:not(:first-child) {
                                margin: 0 11px;
                                width: 238px;
                                height: 60px;
                                overflow: hidden;
                                border-bottom: 1px solid #555;

                                >a {
                                    display: block;
                                    margin-left: 10px;
                                    color: white;
                                    float: left;

                                    &:hover,
                                    &:hover>i {
                                        color: #999;
                                    }

                                    >i {
                                        display: inline-block;
                                        margin-right: 10px;
                                        color: #ccc;
                                        font-size: 15px;
                                    }

                                    >span {}
                                }

                            }

                            >li:last-child {
                                border: 0;
                                display: none;
                            }

                            >li:first-child {
                                padding: 0;

                                &:hover>.userName {
                                    color: #999;
                                }

                                >a {
                                    display: block;
                                    line-height: 36px;
                                    margin: 30px auto 10px;
                                    width: 125px;
                                    color: white;
                                    height: 36px;
                                    font-size: 14px;
                                    @include border-radius(18px);
                                    background-color: rgb(243, 92, 73);
                                    cursor: pointer;
                                }

                                >.userName {
                                    font-size: 16px;
                                    padding: 0;
                                    line-height: 70px;
                                    margin: 0.3em auto;
                                    border-radius: 0px;
                                    background-color: transparent;
                                }

                                >p {
                                    margin-bottom: 10px;
                                    height: 24px;
                                    line-height: 24px;
                                    vertical-align: top;

                                    >span {
                                        color: rgb(148, 148, 148);
                                        font-size: 14px;
                                    }

                                    >a {
                                        color: rgb(243, 93, 73);
                                        font-size: 13px;
                                    }
                                }

                            }
                        }
                    }
                }

                >.shopCart {}


            }
        }

    }

    >.content {
        >.wrapper {
            >h5 {
                margin: 12px 0 30px;
                color: rgb(153, 153, 153);
                font-size: 12px;
                line-height: 1.5;
                font-weight: 300;
                padding-left: 10px;

                >a {
                    color: #999;
                    font-size: 12px;
                }
            }

            >.nb-access-all {
                >ul {
                    width: 100%;
                    margin: auto;

                    >li {
                        display: block;
                        padding: 15px 0;
                        border-bottom: 1px #f1f1f1 solid;

                        >a {
                            display: inline-block;
                            padding: 0 10px;
                            color: #999899;
                            font-size: 14px;
                            transition: color .3s ease-in-out;
                        }

                        >a:first-child,
                        >a:hover {
                            color: #e8340e;
                        }
                    }

                    >#typeList {}

                    >#phoneList {}

                    >#searchType {
                        >a:first-child {
                            color: #999899;
                        }
                    }
                }
            }

            >#searchBlock {
                margin-top: 10px;
                margin-bottom: 60px;

                &:after {
                    content: "";
                    display: block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                    overflow: hidden;
                }

                >li {
                    width: 290px;
                    height: 450px;
                    margin-left: 13px;
                    background: #f4f3ef;
                    margin-bottom: 13px;
                    float: left;
                    text-align: center;
                    position: relative;
                    overflow: hidden;

                    >a {
                        >.nbc-pro-cont {
                            height: 382px;
                            position: relative;

                            >.figure {
                                height: 248px;
                                width: 290px;
                                margin-top: 54px;
                                transition: transform 0.15s linear;

                                >img {
                                    height: 100%;
                                }
                            }

                            >.figure-info {
                                margin-top: 10px;
                                line-height: 24px;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                >h2 {
                                    font-size: 16px;
                                    color: #222;
                                    font-weight: normal;
                                }

                                >span {
                                    font-size: 13px;
                                    color: #999;
                                }
                            }

                            >.price {
                                text-align: center;
                                padding: 0;
                                left: 0;
                                bottom: 32px;
                                position: absolute;
                                width: 100%;

                                >span {
                                    margin-right: 5px;
                                    padding-top: 0;
                                    color: #f35c49;
                                    display: inline-block;
                                    font-family: 'Microsoft Yahei',
                                        微软雅黑,
                                        Arial,
                                        Helvetica,
                                        sans-serif;
                                    font-weight: 200;

                                    >sub {
                                        font-size: 14px !important;
                                        line-height: 32px !important;
                                        vertical-align: text-top;
                                    }

                                    >em {
                                        font-size: 16px;
                                        font-weight: bold;
                                        line-height: 32px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }

                    >.nbc-pro-btn:hover {
                        display: block;
                    }

                    >.nbc-pro-btn {
                        display: none;
                        width: 100%;
                        position: absolute;
                        bottom: 32px;
                        text-align: center;



                        >a {
                            width: 116px;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                            border: none;
                            border-radius: 16px;
                            color: #666;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                            margin: 0 6px;
                            display: inline-block;
                        }

                        >.btn-info {
                            background: #fff;
                            color: #f35c49;
                        }

                        >.btn-sell {
                            background: #f35c49;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    >.server {
        width: 100%;
        text-align: center;
        background: rgb(244, 243, 239);
        padding: 30px 0;

        >.wrapper {
            height: 117px;
            background-color: white;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                height: 100%;
                float: left;
                text-align: center;
                line-height: 48px;
                width: 25%;
                border-right: 1px solid #d9d9d9;

                >a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #666;
                    height: 100%;
                    width: 100%;

                    >i {
                        font-size: 48px;
                    }

                    >span {
                        padding-left: 10px;
                    }
                }
            }
        }

    }

    >.about {
        width: 100%;
        height: 380px;
        background-color: #EFEEEB;
        padding: 60px 0 80px;
        box-sizing: border-box;

        >.wrapper {
            width: 1170px;

            >ul {
                display: flex;
                justify-content: space-around;

                >li {
                    width: 195px;

                    >h3 {
                        margin: 15px 0 10px;
                        font-size: 18px;
                        font-weight: normal;
                        color: #666;
                    }

                    >ul {
                        >li {
                            color: #606463;
                            font-size: 12px;
                            line-height: 22px;

                            >a {
                                color: rgba(96, 100, 99, .7);

                                &:hover {
                                    color: #e95f46;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >.fix {
        position: fixed;
        z-index: 7;
        right: 15px;
        bottom: 50px;
        // background-color: #000;

        >ul {
            width: 50px;
            height: 240px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            >li {
                width: 50px;
                height: 50px;

                >a {
                    display: block;
                    color: #999;

                    &:hover {
                        color: #e95f46;
                    }

                    >i {
                        font-size: 50px;
                    }
                }

                &:nth-child(1):hover>div,
                &:nth-child(2):hover>div,
                &:nth-child(3):hover>div {
                    display: block;
                }
            }

            >li:first-child>div {
                position: absolute;
                width: 120px;
                height: 40px;
                left: -135px;
                top: 5px;
                background-color: #fff;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >span {
                    font-size: 15px;
                    line-height: 1.7;
                    color: rgba(102, 102, 102, 0.8);
                }
            }

            >li:nth-child(2)>div {
                position: absolute;
                width: 120px;
                height: 147px;
                left: -135px;
                top: 5px;
                background-color: #fff;
                // line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >img {
                    width: 118px;
                    height: 118px;
                }

                >span {
                    font-size: 12px;
                    color: rgb(163, 163, 163);
                    line-height: 0;
                }
            }

            >li:nth-child(3)>div {
                position: absolute;
                width: 120px;
                height: 40px;
                left: -135px;
                top: 130px;
                background-color: #fff;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >span {
                    font-size: 15px;
                    line-height: 1.7;
                    color: rgba(102, 102, 102, 0.8);
                }
            }

            >li:last-child>a {
                display: none;
            }
        }
    }

    >footer {
        >.wrapper {
            height: 210px;
            margin-bottom: 20px;
            // overflow: hidden;
            text-align: center;



            >a {
                display: block;
                margin-top: 10px;

                >img {
                    width: 105px;
                }
            }

            >.w {
                height: 48px;

                >a {
                    display: inline-block;
                    margin-top: 8px;
                    color: #999;

                    &:first-child:hover {
                        color: #e5162c;
                    }

                    &:last-child:hover {
                        color: #2ec000;
                    }

                    >i {
                        display: inline-block;
                        font-size: 32px;
                        cursor: pointer;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }

                }

            }

            >div {
                margin-top: 10px;

                >span {
                    font-size: 10px;
                }

                >em {
                    font-weight: 100;
                }

                >a {
                    font-size: 12px;
                    color: rgb(85, 85, 85);

                    &:hover {
                        color: #951b1b;
                    }
                }

                >strong {
                    display: inline-block;
                    width: 85px;
                    height: 18px;
                    color: #888;
                    background-color: #E9E8E6;
                    @include border-radius(9px);
                    font-size: 11px;
                    line-height: 18px;
                    text-indent: 15px;
                    background-image: url(../img/spritesheet.png);
                    background-position: 7px -689px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    margin-bottom: 10px;

                    &:hover {
                        color: #fff;
                        background-color: #B6B6B6;
                    }
                }
            }

            >.info {
                margin-bottom: 8px;

                >a {
                    line-height: 14px;
                    color: #999;
                    font-size: 10px;
                }

                >span {
                    font-size: 10px;
                    line-height: 14px;
                    color: #999;
                }
            }

            >img {
                height: 30px;
            }

        }
    }
}