@charset "UTF-8";
body {
  font-family: "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  font-weight: 300;
}

body::selection {
  color: #fff;
  background-color: #e83100;
}

body > header {
  background-color: #282828;
  width: 100%;
  height: 64.6px;
  position: relative;
}

body > header .nav {
  height: 100%;
}

body > header .nav > #logo {
  float: left;
  margin-top: 8px;
  width: 140px;
  height: 50px;
}

body > header .nav > #logo img {
  height: 100%;
}

body > header .nav > ul {
  float: left;
  margin-left: 140px;
}

body > header .nav > ul > li {
  height: 64.6px;
  line-height: 64.6px;
  padding: 0 15px;
  float: left;
}

body > header .nav > ul > li:hover > a {
  color: #aaa;
}

body > header .nav > ul > li:hover > .sec-nav {
  height: 240px;
}

body > header .nav > ul > li > a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
}

body > header .nav > ul > li > .sec-nav {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 64.6px;
  background-color: rgba(49, 49, 49, 0.95);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

body > header .nav > ul > li > .sec-nav > .wrapper {
  position: relative;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a {
  position: absolute;
  z-index: 21;
  font-weight: 600;
  top: 0;
  width: 33px;
  line-height: 240px;
  height: 240px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a > i {
  font-size: 32px;
  color: #aaa;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a:first-child {
  left: 0;
}

body > header .nav > ul > li > .sec-nav > .wrapper > a:last-child {
  right: 0;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li {
  width: 200px;
  float: left;
  margin-top: 50px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:hover > a > span,
body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:hover > a > i {
  color: #aaa;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > img {
  width: 120px;
  height: 120px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > i {
  font-size: 55px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #fff;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li > a > span {
  text-align: center;
  color: white;
  font-size: 13px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:first-of-type > a > i > .logo1 {
  width: 96px;
  height: 20px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:first-of-type > a > i > .logo2 {
  width: 75px;
  height: 75px;
}

body > header .nav > ul > li > .sec-nav > .wrapper > ul > li:last-of-type > a > i > em {
  display: block;
  margin: 35px auto;
  background-color: #282828;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  font-size: 33px;
}

body > header .nav > ul > .search {
  margin-left: 65px;
  position: relative;
}

body > header .nav > ul > .search > #search {
  border-radius: 15px;
  border: 0;
  background-color: #333333;
  color: #858585;
  outline: 0;
  width: 128px;
  height: 30px;
  text-indent: 15px;
}

body > header .nav > ul > .search > a {
  position: absolute;
  color: #999999;
  right: 25px;
  top: 2px;
  font-size: 16px;
}

body > header .nav > ul > .personage,
body > header .nav > ul > .shopCart {
  position: relative;
  width: 50px;
  padding: 0;
  text-align: center;
}

body > header .nav > ul > .personage:hover,
body > header .nav > ul > .shopCart:hover {
  background-color: #f35c49;
}

body > header .nav > ul > .personage > a > i,
body > header .nav > ul > .shopCart > a > i {
  font-size: 20px;
  color: white;
}

body > header .nav > ul > .personage:hover > .reg-login {
  display: block;
}

body > header .nav > ul > .personage > .reg-login {
  display: none;
  position: absolute;
  z-index: 21;
  width: 260px;
  background-color: #282828;
  top: 70px;
  right: 0;
}

body > header .nav > ul > .personage > .reg-login > span {
  position: absolute;
  top: -4.5px;
  right: 20px;
  border: 5px solid transparent;
  border-left-color: #282828;
  border-top-color: #282828;
  transform: rotate(45deg);
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) {
  margin: 0 11px;
  width: 238px;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #555;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a {
  display: block;
  margin-left: 10px;
  color: white;
  float: left;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a:hover,
body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a:hover > i {
  color: #999;
}

body > header .nav > ul > .personage > .reg-login > ul > li:not(:first-child) > a > i {
  display: inline-block;
  margin-right: 10px;
  color: #ccc;
  font-size: 15px;
}

body > header .nav > ul > .personage > .reg-login > ul > li:last-child {
  border: 0;
  display: none;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child {
  padding: 0;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child:hover > .userName {
  color: #999;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > a {
  display: block;
  line-height: 36px;
  margin: 30px auto 10px;
  width: 125px;
  color: white;
  height: 36px;
  font-size: 14px;
  border-radius: 18px;
  background-color: #f35c49;
  cursor: pointer;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > .userName {
  font-size: 16px;
  padding: 0;
  line-height: 70px;
  margin: 0.3em auto;
  border-radius: 0px;
  background-color: transparent;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p {
  margin-bottom: 10px;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p > span {
  color: #949494;
  font-size: 14px;
}

body > header .nav > ul > .personage > .reg-login > ul > li:first-child > p > a {
  color: #f35d49;
  font-size: 13px;
}

body > .progress {
  width: 100%;
  height: 180px;
  text-align: center;
}

body > .progress > img {
  margin-top: 50px;
}

body > .shopcar > .wrapper {
  margin-bottom: 20px;
}

body > .shopcar > .wrapper > table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eef0f0;
  font-size: 13px;
  width: 100%;
}

body > .shopcar > .wrapper > table > caption {
  text-align: left;
  font-size: 14px;
}

body > .shopcar > .wrapper > table > caption > span {
  color: red;
}

body > .shopcar > .wrapper > table > thead > tr > th {
  height: 36px;
  line-height: 36px;
  background-color: #f7f9f9;
  color: #727171;
  text-align: center;
  border: 1px solid #eef0f0;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
  font-size: 12px;
}

body > .shopcar > .wrapper > table > tbody > tr:hover > td {
  background-color: #ebf3e6;
}

body > .shopcar > .wrapper > table > tbody > tr > td {
  text-align: center;
  border: 1px solid #eef0f0 !important;
  padding: 10px;
  vertical-align: middle;
}

body > .shopcar > .wrapper > table > tbody > tr > td:first-child > img {
  width: 100px;
  height: 100px;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(2) {
  text-align: left;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(2) > a {
  font-size: 16px;
  color: #000;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(2) > a:hover {
  color: #cf2b00;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(4) > div {
  border: 1px solid #e0d7e3;
  border-radius: 4px;
  display: inline-block;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(4) > div > span {
  cursor: pointer;
  padding: 6px 8px;
  color: #606366;
  font-size: 16px;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(4) > div > input {
  height: 25px;
  background: transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 50px;
  text-align: center;
  color: #899096;
  border-top: none;
  border-bottom: none;
  outline: 0;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(5) {
  line-height: 1.8;
}

body > .shopcar > .wrapper > table > tbody > tr > td:nth-child(6) > a {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  color: #838383;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "arial", sans-serif;
  line-height: 19px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  margin-left: 8px;
}

body > .shopcar > .wrapper > table > tfoot > tr > td {
  padding: 10px;
  border: 1px solid #eef0f0;
  vertical-align: middle;
}

body > .shopcar > .wrapper > table > tfoot > tr > td:first-child {
  height: 90px;
  box-sizing: border-box;
  text-align: left;
}

body > .shopcar > .wrapper > table > tfoot > tr > td:nth-child(2) {
  text-align: right;
  line-height: 1.8;
}

body > .shopcar > .wrapper > table > tfoot > tr > td:nth-child(2) > p {
  font-size: 15px;
  line-height: 1.7;
}

body > .shopcar > .wrapper > table > tfoot > tr > td:nth-child(3) {
  text-align: left;
  line-height: 1.8;
}

body > .shopcar > .wrapper > div {
  border: 1px solid #e7e7e7;
  overflow: hidden;
  text-align: center;
  height: 70px;
  border-top: none;
}

body > .shopcar > .wrapper > div > a {
  margin: 14.6px 0;
  display: block;
  padding: 10px;
  float: left;
  width: 100px;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

body > .shopcar > .wrapper > div > a:first-child {
  margin-left: 450px;
  color: #e8380d;
  background: #fff;
  border: 1px solid #e8380d;
}

body > .shopcar > .wrapper > div > a:first-child:hover {
  color: #000;
}

body > .shopcar > .wrapper > div > a:last-child {
  color: #fff;
  background: #e8380d;
  margin-left: 50px;
}

body > .shopcar > .wrapper > div > a:last-child:hover {
  color: #000;
}

body > .noshop {
  margin: 0 auto;
  width: 670px;
  position: relative;
  margin-bottom: 60px;
}

body > .noshop > .con {
  overflow: hidden;
}

body > .noshop > .con > .con-l {
  top: 100px;
  width: auto;
  padding: 0px;
  float: left;
  overflow: hidden;
  position: relative;
}

body > .noshop > .con > .con-l > div {
  font: 28px/1.3 '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
  color: #666;
  width: 270px;
  margin-bottom: 18px;
}

body > .noshop > .con > .con-l > a {
  width: 165px;
  height: 35px;
  display: block;
  line-height: 35px;
  text-align: center;
  background: #e8380d;
  border-radius: 25px;
  color: #fff;
}

body > .noshop > .con > .con-r {
  margin-top: 50px;
  float: left;
  margin-left: 30px;
}

body > .noshop > .con > .con-r > div {
  width: 274px;
  height: 269px;
}

body > .noshop > .con > .con-r > div > img {
  width: 274px;
  height: 269px;
}

body > .server {
  width: 100%;
  text-align: center;
  background: #f4f3ef;
  padding: 30px 0;
}

body > .server > .wrapper {
  height: 117px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > .server > .wrapper > div {
  height: 100%;
  float: left;
  text-align: center;
  line-height: 48px;
  width: 25%;
  border-right: 1px solid #d9d9d9;
}

body > .server > .wrapper > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  height: 100%;
  width: 100%;
}

body > .server > .wrapper > div > a > i {
  font-size: 48px;
}

body > .server > .wrapper > div > a > span {
  padding-left: 10px;
}

body > .about {
  width: 100%;
  height: 380px;
  background-color: #EFEEEB;
  padding: 60px 0 80px;
  box-sizing: border-box;
}

body > .about > .wrapper {
  width: 1170px;
}

body > .about > .wrapper > ul {
  display: flex;
  justify-content: space-around;
}

body > .about > .wrapper > ul > li {
  width: 195px;
}

body > .about > .wrapper > ul > li > h3 {
  margin: 15px 0 10px;
  font-size: 18px;
  font-weight: normal;
  color: #666;
}

body > .about > .wrapper > ul > li > ul > li {
  color: #606463;
  font-size: 12px;
  line-height: 22px;
}

body > .about > .wrapper > ul > li > ul > li > a {
  color: rgba(96, 100, 99, 0.7);
}

body > .about > .wrapper > ul > li > ul > li > a:hover {
  color: #e95f46;
}

body > .fix {
  position: fixed;
  z-index: 7;
  right: 15px;
  bottom: 50px;
}

body > .fix > ul {
  width: 50px;
  height: 240px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

body > .fix > ul > li {
  width: 50px;
  height: 50px;
}

body > .fix > ul > li > a {
  display: block;
  color: #999;
}

body > .fix > ul > li > a:hover {
  color: #e95f46;
}

body > .fix > ul > li > a > i {
  font-size: 50px;
}

body > .fix > ul > li:nth-child(1):hover > div,
body > .fix > ul > li:nth-child(2):hover > div,
body > .fix > ul > li:nth-child(3):hover > div {
  display: block;
}

body > .fix > ul > li:first-child > div {
  position: absolute;
  width: 120px;
  height: 40px;
  left: -135px;
  top: 5px;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:first-child > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:first-child > div > span {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(102, 102, 102, 0.8);
}

body > .fix > ul > li:nth-child(2) > div {
  position: absolute;
  width: 120px;
  height: 147px;
  left: -135px;
  top: 5px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:nth-child(2) > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:nth-child(2) > div > img {
  width: 118px;
  height: 118px;
}

body > .fix > ul > li:nth-child(2) > div > span {
  font-size: 12px;
  color: #a3a3a3;
  line-height: 0;
}

body > .fix > ul > li:nth-child(3) > div {
  position: absolute;
  width: 120px;
  height: 40px;
  left: -135px;
  top: 130px;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}

body > .fix > ul > li:nth-child(3) > div::before {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  content: '';
  z-index: 2;
  background-image: url(../img/nb-extra-tool-corner-x2.png);
  background-size: 10px 20px;
  background-repeat: no-repeat;
}

body > .fix > ul > li:nth-child(3) > div > span {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(102, 102, 102, 0.8);
}

body > .fix > ul > li:last-child > a {
  display: none;
}

body > footer > .wrapper {
  height: 210px;
  margin-bottom: 20px;
  text-align: center;
}

body > footer > .wrapper > a {
  display: block;
  margin-top: 10px;
}

body > footer > .wrapper > a > img {
  width: 105px;
}

body > footer > .wrapper > .w {
  height: 48px;
}

body > footer > .wrapper > .w > a {
  display: inline-block;
  margin-top: 8px;
  color: #999;
}

body > footer > .wrapper > .w > a:first-child:hover {
  color: #e5162c;
}

body > footer > .wrapper > .w > a:last-child:hover {
  color: #2ec000;
}

body > footer > .wrapper > .w > a > i {
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
}

body > footer > .wrapper > .w > a:first-child {
  margin-right: 10px;
}

body > footer > .wrapper > div {
  margin-top: 10px;
}

body > footer > .wrapper > div > span {
  font-size: 10px;
}

body > footer > .wrapper > div > em {
  font-weight: 100;
}

body > footer > .wrapper > div > a {
  font-size: 12px;
  color: #555555;
}

body > footer > .wrapper > div > a:hover {
  color: #951b1b;
}

body > footer > .wrapper > div > strong {
  display: inline-block;
  width: 85px;
  height: 18px;
  color: #888;
  background-color: #E9E8E6;
  border-radius: 9px;
  font-size: 11px;
  line-height: 18px;
  text-indent: 15px;
  background-image: url(../img/spritesheet.png);
  background-position: 7px -689px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 10px;
}

body > footer > .wrapper > div > strong:hover {
  color: #fff;
  background-color: #B6B6B6;
}

body > footer > .wrapper > .info {
  margin-bottom: 8px;
}

body > footer > .wrapper > .info > a {
  line-height: 14px;
  color: #999;
  font-size: 10px;
}

body > footer > .wrapper > .info > span {
  font-size: 10px;
  line-height: 14px;
  color: #999;
}

body > footer > .wrapper > img {
  height: 30px;
}
