@charset "utf-8";

@mixin border-radius($d) {
    border-radius: $d;
}

@mixin selection {
    &::selection {
        color: #fff;
        background-color: #e83100;
    }
}

body {
    @include selection;
    font-family: "Microsoft Yahei",
        "微软雅黑",
        Arial,
        Helvetica,
        sans-serif;

    >header {
        background-color: rgb(40, 40, 40);
        width: 100%;
        height: 64.6px;
        position: relative;

        .nav {
            height: 100%;

            >#logo {
                float: left;
                margin-top: 8px;
                width: 140px;
                height: 50px;

                img {
                    height: 100%;
                }
            }

            >ul {
                float: left;
                margin-left: 140px;

                >li {
                    height: 64.6px;
                    line-height: 64.6px;
                    padding: 0 15px;
                    float: left;

                    &:hover>a {
                        color: #aaa;
                    }

                    &:hover>.sec-nav {
                        height: 240px;
                    }

                    >a {
                        color: #fff;
                        letter-spacing: 1px;
                        font-size: 13px;
                    }

                    >.sec-nav {
                        position: absolute;
                        z-index: 20;
                        left: 0;
                        top: 64.6px;
                        background-color: rgba(49, 49, 49, 0.95);
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        transition: height 0.4s;

                        >.wrapper {
                            position: relative;

                            >a {
                                position: absolute;
                                z-index: 21;
                                font-weight: 600;
                                top: 0;
                                width: 33px;
                                line-height: 240px;
                                height: 240px;

                                >i {
                                    font-size: 32px;
                                    color: #aaa;
                                }
                            }

                            >a:first-child {
                                left: 0;
                            }

                            >a:last-child {
                                right: 0;
                            }

                            >ul {
                                >li {
                                    width: 200px;
                                    float: left;
                                    margin-top: 50px;

                                    &:hover>a>span,
                                    &:hover>a>i {
                                        color: #aaa;
                                    }


                                    >a {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;

                                        >img {
                                            width: 120px;
                                            height: 120px;
                                        }

                                        >i {
                                            font-size: 55px;
                                            width: 120px;
                                            height: 120px;
                                            text-align: center;
                                            line-height: 120px;
                                            color: #fff;
                                        }

                                        >span {
                                            text-align: center;
                                            color: white;
                                            font-size: 13px;
                                        }
                                    }
                                }

                                >li:first-of-type {
                                    >a>i>.logo1 {
                                        width: 96px;
                                        height: 20px;
                                    }

                                    >a>i>.logo2 {
                                        width: 75px;
                                        height: 75px;
                                    }
                                }

                                >li:last-of-type {
                                    >a>i {
                                        >em {
                                            display: block;
                                            margin: 35px auto;
                                            background-color: rgb(40, 40, 40);
                                            @include border-radius(50%);
                                            width: 50px;
                                            line-height: 50px;
                                            height: 50px;
                                            font-size: 33px;
                                        }
                                    }
                                }

                            }
                        }
                    }

                }

                >.search {
                    margin-left: 65px;
                    position: relative;

                    >#search {
                        @include border-radius(15px);
                        border: 0;
                        background-color: rgb(51, 51, 51);
                        color: rgb(133, 133, 133);
                        outline: 0;
                        width: 128px;
                        height: 30px;
                        text-indent: 15px;
                    }

                    >a {
                        position: absolute;
                        color: rgb(153, 153, 153);
                        right: 25px;
                        top: 2px;
                        font-size: 16px;
                    }
                }

                >.personage,
                >.shopCart {
                    position: relative;
                    width: 50px;
                    padding: 0;
                    text-align: center;

                    &:hover {
                        background-color: #f35c49;
                    }

                    >a>i {
                        font-size: 20px;
                        color: white;
                    }
                }

                >.personage {


                    &:hover>.reg-login {
                        display: block;
                    }

                    >.reg-login {
                        display: none;
                        position: absolute;
                        z-index: 21;
                        width: 260px;
                        height: 475px;
                        background-color: #282828;
                        top: 80px;
                        right: 0;

                        >span {
                            position: absolute;
                            top: -4.5px;
                            right: 20px;
                            border: 5px solid transparent;
                            border-left-color: #282828;
                            border-top-color: #282828;
                            transform: rotate(45deg);
                        }

                        >ul {
                            >li:not(:first-child) {
                                margin: 0 11px;
                                width: 238px;
                                height: 60px;
                                overflow: hidden;
                                border-bottom: 1px solid #555;


                                >a {
                                    display: block;
                                    margin-left: 10px;
                                    color: white;
                                    float: left;

                                    &:hover,
                                    &:hover>i {
                                        color: #999;
                                    }

                                    >i {
                                        display: inline-block;
                                        margin-right: 10px;
                                        color: #ccc;
                                        font-size: 15px;
                                    }

                                    >span {}
                                }

                            }

                            >li:last-child {
                                border: 0;
                            }

                            >li:first-child {
                                padding: 0;
                                height: 70px;
                                margin: 30px 0 10px;

                                >a {
                                    display: block;
                                    line-height: 36px;
                                    margin: 0 auto 10px;
                                    width: 125px;
                                    color: white;
                                    height: 36px;
                                    font-size: 14px;
                                    @include border-radius(18px);
                                    background-color: rgb(243, 92, 73);
                                    cursor: pointer;
                                }

                                >p {
                                    height: 24px;
                                    line-height: 24px;
                                    vertical-align: top;

                                    >span {
                                        color: rgb(148, 148, 148);
                                        font-size: 14px;
                                    }

                                    >a {
                                        color: rgb(243, 93, 73);
                                        font-size: 13px;
                                    }
                                }

                            }
                        }
                    }
                }

                >.shopCart {}


            }
        }

    }

    >.details {
        >.wrapper {
            overflow: hidden;
            margin-bottom: 20px;

            >h5 {
                margin: 12px 0 20px;
                color: #999;
                font-weight: normal;
                font-size: 12px;
                line-height: 1.5;
                font-family: "Helvetica Neue",
                    Helvetica,
                    Arial,
                    "Microsoft Yahei",
                    "Hiragino Sans GB",
                    "Heiti SC",
                    "WenQuanYi Micro Hei",
                    sans-serif;

                >a {
                    color: #999;
                    font-size: 12px;
                }
            }

            >#tabs {
                display: flex;
                flex-flow: column;
                width: 576px;
                float: left;

                .active {
                    border-color: #eb4f2c;
                }

                .show {
                    display: inline-block;
                }

                >div {
                    // float: left;
                    display: none;
                    width: 576px;

                    >img {
                        width: 576px;
                        height: 576px;
                    }
                }

                >ul {
                    width: 576px;
                    display: flex;
                    justify-content: center;

                    >li {
                        // & {
                        //     border-color: #eb4f2c;
                        // }
                        cursor: pointer;
                        border: 1px solid #fff;

                        >img {
                            width: 84px;
                            height: 84px;
                        }
                    }
                }
            }

            >.content {
                margin-left: 30px;
                width: 585px;
                float: left;
                position: relative;

                >h5 {
                    font-size: 24px;
                    color: #000;
                    font-weight: normal;
                    line-height: 1.7;
                }

                >p:nth-child(2) {
                    color: rgb(255, 77, 77);
                    font-size: 16px;
                    font-weight: 800;
                    margin-bottom: 20px;
                    line-height: 1.7;
                }

                >div {
                    background: rgb(248, 248, 248);
                    padding: 30px 20px 20px 20px;
                    color: #666;
                    width: 585px;
                    box-sizing: border-box;

                    >p:nth-child(1) {
                        >span {
                            color: rgb(100, 100, 100);
                            font-size: 14px;
                            letter-spacing: 15px;
                            line-height: 20px;
                            display: inline-block;
                            width: 82px;
                        }

                        >i {
                            display: inline-block;
                            font-size: 18px;
                            // margin-top: 4px;
                            color: rgb(255, 94, 94);
                            vertical-align: middle;
                            line-height: 28px;
                        }

                        >em {
                            display: inline-block;
                            font-size: 32px;
                            color: rgb(255, 94, 94);
                            line-height: 28px;
                        }
                    }

                    >div {
                        >p:nth-child(1) {
                            margin-top: 15px;

                            >span {
                                color: rgb(100, 100, 100);
                                font-size: 14px;
                                letter-spacing: 15px;
                                line-height: 20px;
                                display: inline-block;
                                width: 82px;
                                line-height: 1.7;
                                box-sizing: border-box;
                            }

                            >i {
                                height: 24px;
                                display: inline-block;
                                margin-bottom: 7px;

                                >span {
                                    margin-right: 0.85rem;
                                    color: rgb(255, 94, 94);
                                    padding: 2px 12px;
                                    border: 1px solid rgb(255, 94, 94);
                                    background: white;
                                    font-size: 12px;
                                    border-radius: 4px;
                                    line-height: 1.7;
                                }

                                >em {
                                    display: inline-block;
                                    width: 347px;
                                    font-size: 14px;
                                    color: rgb(30, 30, 30);
                                    line-height: 1.7;
                                }
                            }
                        }

                        >p:nth-child(2) {
                            height: 24px;
                            display: inline-block;
                            margin-bottom: 7px;
                            text-indent: 87px;

                            >span {
                                margin-right: 0.85rem;
                                color: rgb(255, 94, 94);
                                padding: 2px 12px;
                                border: 1px solid rgb(255, 94, 94);
                                background: white;
                                font-size: 12px;
                                border-radius: 4px;
                                line-height: 1.7;
                            }

                            >em {
                                text-indent: 0;
                                display: inline-block;
                                width: 347px;
                                font-size: 14px;
                                color: rgb(30, 30, 30);
                                line-height: 1.7;
                            }
                        }

                        >p:nth-child(3) {
                            height: 24px;
                            display: inline-block;
                            margin-bottom: 7px;
                            text-indent: 87px;

                            >span {
                                margin-right: 0.85rem;
                                color: rgb(255, 94, 94);
                                padding: 2px 12px;
                                border: 1px solid rgb(255, 94, 94);
                                background: white;
                                font-size: 12px;
                                border-radius: 4px;
                                line-height: 1.7;
                            }

                            >em {
                                text-indent: 0;
                                display: inline-block;
                                width: 347px;
                                font-size: 14px;
                                color: rgb(30, 30, 30);
                                line-height: 1.7;
                            }
                        }

                        >p:nth-child(4) {
                            height: 24px;
                            display: inline-block;
                            margin-bottom: 7px;
                            text-indent: 87px;

                            >span {
                                margin-right: 0.85rem;
                                color: rgb(255, 94, 94);
                                padding: 2px 12px;
                                border: 1px solid rgb(255, 94, 94);
                                background: white;
                                font-size: 12px;
                                border-radius: 4px;
                                line-height: 1.7;
                            }

                            >em {
                                text-indent: 0;
                                display: inline-block;
                                width: 347px;
                                font-size: 14px;
                                color: rgb(30, 30, 30);
                                line-height: 1.7;
                            }
                        }
                    }




                }

                >p:nth-child(4) {
                    margin-top: 20px;
                    vertical-align: middle;
                    margin-bottom: 30px;

                    >span {
                        display: inline-block;
                        text-indent: 20px;
                        color: rgb(100, 100, 100);
                        font-size: 14px;
                        letter-spacing: 7px;
                        line-height: 20px;
                    }

                    >img {
                        margin-left: 20px;
                        width: 14px;
                        height: 16.8px;
                    }

                    >em {
                        margin-left: 5px;
                        display: inline-block;
                        font-size: 14px;
                        color: #000;
                        line-height: 20px;
                    }
                }

                >p:nth-child(5) {
                    text-indent: 20px;
                    color: rgb(100, 100, 100);
                    font-size: 14px;
                    line-height: 20px;

                    >span {
                        text-indent: 0;
                        display: inline-block;
                        border: 1px solid rgb(224, 224, 224);
                        box-sizing: border-box;
                        margin-top: 2px;
                        padding: 8px 0px;
                        width: 140px;
                        margin-right: 10px;
                        color: rgb(100, 100, 100);
                        text-align: center;
                        font-size: 14px;
                        cursor: pointer;
                        margin-bottom: 10px;
                        border-radius: 7px;

                        &:hover {
                            border-color: #666;
                        }
                    }

                    >span:first-child {
                        margin-left: 20px;
                    }
                }

                >p:nth-child(6) {
                    text-indent: 20px;
                    color: rgb(100, 100, 100);
                    font-size: 14px;
                    line-height: 20px;


                    >span {
                        display: inline-block;
                        text-indent: 0;
                        border: 1px solid rgb(224, 224, 224);
                        box-sizing: border-box;
                        margin-top: 2px;
                        padding: 8px 0px;
                        width: 140px;
                        margin-right: 10px;
                        color: rgb(100, 100, 100);
                        text-align: center;
                        font-size: 14px;
                        cursor: pointer;
                        margin-bottom: 10px;
                        border-radius: 7px;

                        &:hover {
                            border-color: #666;
                        }
                    }

                    >span:first-child {
                        margin-left: 20px;
                    }
                }

                >p:nth-child(7) {
                    text-indent: 20px;
                    vertical-align: middle;
                    line-height: 52px;
                    position: relative;

                    >em {
                        text-indent: 0;
                        color: rgb(100, 100, 100);
                        font-size: 14px;
                        height: 52px;
                        line-height: 52px;
                        letter-spacing: 30px;
                    }

                    >span {
                        position: absolute;
                        left: 100px;
                        display: inline-block;
                        letter-spacing: normal;
                        border: 1px solid rgb(230, 230, 230);
                        width: 190px;
                        height: 50px;
                        overflow: hidden;
                        cursor: pointer;

                        >img {
                            height: 19px;
                            width: 19px;
                        }

                        >input {
                            width: 64px;
                            margin: 0 22px;
                            outline: 0;
                            text-align: center;
                            border: 0;
                            font-size: 16px;
                        }

                    }


                }

                >input:first-of-type {
                    margin-top: 30px;
                    color: #fff;
                    width: 284px;
                    height: 50px;
                    font-size: 15px;
                    border: 0;
                    outline: 0;
                    border-radius: 5px;
                    cursor: pointer;
                    background: rgb(255, 148, 79);
                }

                >input:last-of-type {
                    margin-top: 30px;
                    color: #fff;
                    width: 284px;
                    height: 50px;
                    font-size: 15px;
                    border: 0;
                    outline: 0;
                    border-radius: 5px;
                    cursor: pointer;
                    background: rgb(255, 94, 94);
                }

            }
        }
    }

    >.about {
        width: 100%;
        height: 380px;
        background-color: #EFEEEB;
        padding: 60px 0 80px;
        box-sizing: border-box;

        >.wrapper {
            width: 1170px;

            >ul {
                display: flex;
                justify-content: space-around;

                >li {
                    width: 195px;

                    >h3 {
                        margin: 15px 0 10px;
                        font-size: 18px;
                        font-weight: normal;
                        color: #666;
                    }

                    >ul {
                        >li {
                            color: #606463;
                            font-size: 12px;
                            line-height: 22px;

                            >a {
                                color: rgba(96, 100, 99, .7);

                                &:hover {
                                    color: #e95f46;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >.fix {
        position: fixed;
        z-index: 7;
        right: 15px;
        bottom: 50px;
        // background-color: #000;

        >ul {
            width: 50px;
            height: 240px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            >li {
                width: 50px;
                height: 50px;

                >a {
                    display: block;
                    color: #999;

                    &:hover {
                        color: #e95f46;
                    }

                    >i {
                        font-size: 50px;
                    }
                }

                &:nth-child(1):hover>div,
                &:nth-child(2):hover>div,
                &:nth-child(3):hover>div {
                    display: block;
                }
            }

            >li:first-child>div {
                position: absolute;
                width: 120px;
                height: 40px;
                left: -135px;
                top: 5px;
                background-color: #fff;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >span {
                    font-size: 15px;
                    line-height: 1.7;
                    color: rgba(102, 102, 102, 0.8);
                }
            }

            >li:nth-child(2)>div {
                position: absolute;
                width: 120px;
                height: 147px;
                left: -135px;
                top: 5px;
                background-color: #fff;
                // line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >img {
                    width: 118px;
                    height: 118px;
                }

                >span {
                    font-size: 12px;
                    color: rgb(163, 163, 163);
                    line-height: 0;
                }
            }

            >li:nth-child(3)>div {
                position: absolute;
                width: 120px;
                height: 40px;
                left: -135px;
                top: 130px;
                background-color: #fff;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @include border-radius(8px);
                display: none;

                &::before {
                    width: 10px;
                    height: 20px;
                    overflow: hidden;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -10px;
                    content: '';
                    z-index: 2;
                    background-image: url(../img/nb-extra-tool-corner-x2.png);
                    background-size: 10px 20px;
                    background-repeat: no-repeat;
                }

                >span {
                    font-size: 15px;
                    line-height: 1.7;
                    color: rgba(102, 102, 102, 0.8);
                }
            }

            >li:last-child>a {
                display: none;
            }
        }
    }

    >footer {
        >.wrapper {
            height: 210px;
            margin-bottom: 20px;
            // overflow: hidden;
            text-align: center;



            >a {
                display: block;
                margin-top: 10px;

                >img {
                    width: 105px;
                }
            }

            >.w {
                height: 48px;

                >a {
                    display: inline-block;
                    margin-top: 8px;
                    color: #999;

                    &:first-child:hover {
                        color: #e5162c;
                    }

                    &:last-child:hover {
                        color: #2ec000;
                    }

                    >i {
                        display: inline-block;
                        font-size: 32px;
                        cursor: pointer;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }

                }

            }

            >div {
                margin-top: 10px;

                >span {
                    font-size: 10px;
                }

                >em {
                    font-weight: 100;
                }

                >a {
                    font-size: 12px;
                    color: rgb(85, 85, 85);

                    &:hover {
                        color: #951b1b;
                    }
                }

                >strong {
                    display: inline-block;
                    width: 85px;
                    height: 18px;
                    color: #888;
                    background-color: #E9E8E6;
                    @include border-radius(9px);
                    font-size: 11px;
                    line-height: 18px;
                    text-indent: 15px;
                    background-image: url(../img/spritesheet.png);
                    background-position: 7px -689px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    margin-bottom: 10px;

                    &:hover {
                        color: #fff;
                        background-color: #B6B6B6;
                    }
                }
            }

            >.info {
                margin-bottom: 8px;

                >a {
                    line-height: 14px;
                    color: #999;
                    font-size: 10px;
                }

                >span {
                    font-size: 10px;
                    line-height: 14px;
                    color: #999;
                }
            }

            >img {
                height: 30px;
            }

        }
    }
}